.csta {
  font-size: larger;
  font-weight: 300;
  color: #130d6f;
  border-radius: 0.7rem;
}

.custom-a:hover {
  font-size: larger;
  /* color: #130d6f; */
}

.custom-alert {
  background-color: #f7f0ca;
  color: #957c00;
  padding: 10px 1px;
  font-family: "SF Mono", monospace;
  font-size: small;
}

.team-img {
  border-radius: 20px;
  height: auto;
}

.team-img:hover {
  cursor: pointer;
}

.team-img-title {
  margin-top: 12px;
  color: #130d6f;
  font-weight: 600;
  font-size: 18px;
}
.team-img-title a {
  color: #130d6f;
}

.team-role {
  margin-top: 8px;
  color: #130d6f;
  font-weight: 500;
  font-size: 16px;
}

.title-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: justify;
  color: #ffffff;
}

.membership-card {
  background: #fff;
  border: 0.5px solid #e3e3e3;
  border-radius: 20px;
  width: 24rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .membership-card {
    width: 22rem;
  }
}

.mem-img {
  width: 60%;
  margin-top: 20px;
  border-radius: 35px;
  filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.46));
}

.mem-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  /* or 29px */
  color: #0d0745;
}

.mem-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  text-align: center;
  color: #131041;
}

.tiles {
  /* Active Button */
  box-sizing: border-box;
  /* Auto layout */
  align-items: center;
  font-size: 18px;
  gap: 10px;
  width: 180px;
  height: 56px;
  background: #5e72eb;
  color: #fff;
  border-radius: 15px;
  border: 1.5px solid #5e72eb;
  font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .tiles {
    /* Active Button */
    box-sizing: border-box;
    /* Auto layout */
    align-items: center;
    font-size: 18px;
    gap: 10px;
    width: auto;
    height: auto;
    background: #5e72eb;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #5e72eb;
    font-weight: bold;
  }
}

.nav-link {
  z-index: 5;
  color: #1d1d1f;
  letter-spacing: -0.01em;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  font-size: 19px;
  font-weight: 500;
  transition: color 0.3s;
  display: flex;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.card-deck {
  -webkit-overflow-scrolling: touch;
}

.card {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
  }
}
