#member-hero {
  padding: 100px 0 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#btn {
  font-size: medium;
  font-weight: 400 !important;
  padding: 12px 20px;
  border-radius: 40px;
  letter-spacing: 0.5px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-signin input[type="password"] {
  margin-bottom: 10px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.login-input-email {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.login-input-password {
  margin-bottom: 10px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* Define the box-shadow for larger devices */
.login-form-container {
  box-shadow:
    0 -0.125rem 0.25rem rgba(0, 0, 0, 0.035),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.035),
    -0.125rem 0 0.25rem rgba(0, 0, 0, 0.035),
    0.125rem 0 0.25rem rgba(0, 0, 0, 0.035);
}

/* Media query for devices with max width of 768px (phones) */
@media (max-width: 768px) {
  .login-form-container {
    box-shadow: none; /* Remove the box-shadow for phones */
  }
}
